<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles/tailwind.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <link rel="icon" type="images/svg" href="images/logo.svg" />
        <title>FetchCV</title>
    </head>

    <body
        class="flex justify-center items-center h-[100vh] bg-zinc-50 dark:bg-zinc-900 dark:text-white lg:px-[20vw] sm:px-0"
    >
        <!-- Page Card -->
        <div>
            <!-- Centered card -->
            <div
                class="grid gap-16 px-4 py-10"
                style="grid-template-columns: 312px auto"
            >
                <img
                    class="m-6 w-[300px] shadow-2xl border-[1px] border-zinc-700 border-t-zinc-600 rounded-full"
                    src="images/logo.svg"
                    alt="logo"
                />
                <div class="my-auto">
                    <h1 class="text-4xl">FetchCV</h1>
                    <h4 class="text-zinc-500 dark:text-zinc-300">
                        Where people can find you
                    </h4>
                    <p>
                        As developers, we have accounts across the web that each
                        showcase only a part of our amazing work. Now, with
                        FetchCV, you can show off all your projects and
                        achievements in one place!
                    </p>
                </div>
            </div>
            <br />
            <!-- Get started -->
            <div class="block text-center">
                <h2 class="text-2xl p-4 font-semibold text-zinc-900 dark:text-zinc-200">Get started!</h2>
                <!-- GitHub username profile -->
                <a href="/gh-username-search">
                    <div class="inline-flex justify-center transition-all p-2 mx-1 shadow-lg bg-zinc-200 dark:bg-zinc-800 border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 rounded-md dark:text-white">
                        <span class="material-symbols-rounded text-public mr-2">search</span>
                        <p>GitHub username search</p>
                    </div>
                </a>
                <!-- Profile Link -->
                <a href="/profile">
                    <div class="inline-flex justify-center transition-all p-2 mx-1 shadow-lg bg-zinc-200 dark:bg-zinc-800 border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 rounded-md dark:text-white">
                        <span class="material-symbols-rounded text-public mr-2">account_circle</span>
                        <p>My Profile</p>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
