<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="styles/tailwind.css">
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   <link rel="icon" type="images/svg" href="images/logo.svg">

   <title>GitHub Username Search | FetchCV</title>
</head>

<body class="h-[100vh] px-8 flex justify-center items-center bg-zinc-50 dark:bg-zinc-900 dark:text-white">
   <div class="mb-20">
      <!-- top bar -->
      <div class="flex my-2">
         <a href="../">
            <div
               class="inline-flex justify-center transition-all p-2 mr-2 shadow-lg bg-zinc-100 dark:bg-zinc-800 border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 hover:bg-zinc-200 dark:hover:bg-zinc-700 rounded-md dark:text-white">
               <span class="material-symbols-rounded text-public">home</span>
            </div>
         </a>
         <!-- User search (will be replaced when accounts are added) -->
         <div
            class="flex w-full justify-center items-center shadow-lg bg-zinc-100 dark:bg-zinc-800 border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 rounded-md">
            <input class="px-6 py-2 text-base bg-transparent md:w-[400px] sm:w-[80vw]" type="text" id="username"
               placeholder="Enter a GitHub username">
            <span tabindex="0" class="material-symbols-rounded text-public mr-2"
               onclick="newUsername()">person_search</span>
         </div>
      </div>
   </div>
</body>
<script src="scripts/github-username-search.js"></script>
</html>
