<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/styles/tailwind.css">
   <link rel="stylesheet" href="/styles/profile-styles.css">
   <link rel="icon" type="images/svg" href="/images/logo.svg">
   <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

   <title>My Profile | FetchCV</title>
</head>
<%- include("../partials/navbar.ejs") %>
<body class="px-8 flex justify-center bg-zinc-50 dark:bg-zinc-900 dark:text-white">
   <div class="mb-20">
         <script>
            let usernameJSON = `<%- JSON.stringify(username) %>`;
            let username = JSON.parse(usernameJSON);
         </script>
      <!-- Error box - hidden by default -->
      <div
         class="error-box shadow-2xl py-4 px-8 my-2 border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 rounded-md hidden bg-blue-800 bg-red-800 bg-green-800">
         <h1 class="error-title text-2xl font-mono">Oh no! Token retrival error</h1>
         <h1 class="error-text font-mono">We could not fetch your data</h1>
      </div>


      <!-- Profile Card -->
      <div
         class="shadow-2xl py-4 px-8 my-2 bg-zinc-100 dark:bg-zinc-800 border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 rounded-md hidden user-info">
         <div class="grid gap-6" style="grid-template-columns: 300px auto;">
            <img
               class="profile-picture w-[300px] shadow-2xl border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 rounded-full"
               alt="Profile Picture">
            <div class="max-w-[45vw]">
               <h1 class="profile-name text-3xl font-bold">Name</h1>
               <h1 class="profile-handle text-xl dark:text-zinc-600 font-bold">handle</h1>
               <div class="profile-langs py-2 align-top flex flex-wrap"></div>
               <p class="profile-desc text-lg"></p>
               <br>
               <hr>
               <br>
               <div>
                  <p><span class="profile-repos"></span> repositories</p>
               </div>
               <br>
               <hr>
               <br>
               <p><span class="profile-followers"></span> followers</p>
               <p><span class="profile-following"></span> following</p>
               <p><span class="profile-stars"></span> stars</p>
               <p>location: <span class="profile-location"></span></p>
               <p class="profile-email">Email</p>
               <a class="profile-website text-theme underline">Website (ur/)</a><br>
               <a class="profile-github text-theme underline">Github</a><br>
               <br>
               <div class="github-stats"></div>
            </div>
         </div>
      </div>
      <!-- Branding -->
      <div
         class="flex w-full py-4 justify-center items-center shadow-lg dark:bg-zinc-800 border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 rounded-md">
         <p>Created with <code class="text-theme">FetchCV</code></p>

      </div>
   </div>
</body>
<style>
   p {
      max-width: 700px;
   }
</style>
<script>let description;</script>
<script src="/scripts/displayErrors.js"></script>
<script src="/scripts/github/main.js"></script>
<script src="/scripts/github/getToken.js"></script>
<script src="/scripts/github/fetchData.js"></script>
<script src="/scripts/github/displayData.js"></script>
</html>
