<!doctype html>
<html>
<head>
   <title>Login | FetchCV</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="../styles/tailwind.css">
   <link rel="icon" type="images/svg" href="images/logo.svg">
</head>
<%- include("../partials/navbar.ejs") %>
<body>
   <div class="h-[100vh] w-full flex justify-center items-center bg-zinc-50 dark:bg-zinc-900 text-center font-mono">
      <div>
         <h1 class="my-2 text-6xl font-extrabold">🔑</h1>
         <h2 class="m-4 text-3xl text-gray-700">Login options</h2>
         <a href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>" class="m-4 py-3 px-4 rounded-lg text-2xl font-light bg-gray-600 text-white"><span class="fa fa-github"></span> Sign in with GitHub</a>
      </div>
   </div>
</body>
</html>
