<!doctype html>
<html lang="en">

<head>
   <link rel="stylesheet" href="styles/tailwind.css" />
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />

   <link rel="icon" type="images/svg" href="images/logo.svg" />
   <title>Posts | FetchCV</title>
</head>
<%- include("../partials/navbar.ejs") %>
<% if (userData) { %>
   <body class="h-screen bg-far-light dark:bg-far-dark dark:text-white lg:px-[20vw] sm:px-0">
      <div class="posts"></div>
      <hr style="opacity: 0" class="my-4">
   </body>
   <% } else { %>
   <body>
      <h1>You need to log in to access your posts</h1>
   </body>
   <% } %>
   <script src="scripts/posts/loadPosts.js"></script>
</html>