<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="../styles/tailwind.css">
   <link rel="stylesheet" href="../styles/profile-styles.css">
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   <link rel="icon" type="images/svg" href="images/logo.svg">
   <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

   <title>My Profile | FetchCV</title>
</head>

<body class="px-8 flex justify-center bg-zinc-50 dark:bg-zinc-900 dark:text-white">
         <script>
            let userDataWorking = `<%- JSON.stringify(userData) %>`;
            let githubUserData = JSON.parse(userDataWorking);
         </script>


   <!-- home button -->
   <a href="../">
      <div
         class="fixed top-2 left-2 inline-flex justify-center transition-all p-2 mr-2 shadow-lg bg-zinc-100 dark:bg-zinc-800 border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 hover:bg-zinc-200 dark:hover:bg-zinc-700 rounded-md dark:text-white">
         <span class="material-symbols-rounded text-public">home</span>
      </div>
   </a>
   <div class="mb-20">
      <!-- Edit panel -->
      <div class="edit-controls shadow-2xl py-4 px-8 my-2 bg-zinc-100 dark:bg-zinc-800 border-[1px] border-zinc-300 dark:border-zinc-700 border-t-zinc-100 dark:border-t-zinc-600 rounded-md user-info">
         <div class="changes-saved-banner hidden p-4 my-2 bg-blue-300 border-2 border-blue-500 rounded-md">Changes saved!</div>
         <div>
            <h2 class="text-zinc-500">Edit description</h2>
            <div class="flex w-full justify-center items-center bg-white rounded-md overflow-hidden">
               <input id="edit-description" maxlength="500" onKeyDown="if (event.keyCode == 13) editDescription(this.value)" class="p-2 bg-none edit-description w-full border-blue-500 focus:border-b-2 focus:outline-none" type="text">
               <span title="Save" tabindex="0" class="material-symbols-rounded text-public mr-2" onclick="editDescription(document.querySelector('#edit-description').value)">save</span>
               <span title="Revert to GitHub bio" tabindex="0" class="material-symbols-rounded text-public mr-2" onclick="revertDescriptionToGitHubBio()">refresh</span>
            </div>
         </div>
      </div>
   </div>
</body>
<style>
   p {
      max-width: 700px;
   }
</style>

<script>
   let username;
   window.addEventListener("load", () => {
      username = githubUserData.login;
      getUserInfo();
   });
</script>
<script src="/scripts/display-errors.js"></script>
<script src="/scripts/github/getToken.js"></script>
<script src="/scripts/github/getId.js"></script>
<script src="/scripts/github/fetch-data.js"></script>
<script src="/scripts/fetch-data.js"></script>
<script src="/scripts/edit-profile.js"></script>
</html>