<!doctype html>
<html>
  <head>
    <title>Github OAuth Redirect</title>
  </head>
   <body>
      <p>
         <strong>Welcome to FetchCV, </strong> <%= userData.name %>!<br>
         <a href="/">Go to home</a>
      </p>
  </body>
</html>
