@keyframes slide_right {
   0% {
      transform: translate(0);
   }

   100% {
      transform: translate(3em);
   }
}

.caution-tape {
   background: url("/Images/Stripes.svg") repeat;
   background-size: 3em 3em;
   animation: slide_right 10s linear infinite;
}