<style>
   body {
      padding-top: 4.5rem;
   }
</style>


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
   rel="stylesheet">



<div class="fixed top-0 left-0 right-0 p-2 backdrop-blur-lg bg-zinc-100/85 dark:bg-zinc-800/75">
   <a href="/">
      <h2 class="inline-block font-bold text-xl dark:text-white transition-all p-2 mx-2 hover:bg-zinc-200 rounded-md hover:cursor-pointer"
         style="font-family: 'Inter Tight';" title="home">FetchCV</h2>
   </a>
   <a href="/profile">
      <div class="float-right inline-flex justify-center dark:hover:bg-zinc-700 p-2 my-0.5 mx-2 hover:bg-zinc-200 rounded-md">
         <span class="material-symbols-rounded text-public mr-2" title="my profile">account_circle</span>
         <p>My Profile</p>
      </div>
   </a>
</div>
